.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 4rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 2rem 0 1rem;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a,
.description a:visited,
.card a,
.card a:visited {
  color: black;
  text-decoration: underline;
}

.card:hover a,
.card:focus a,
.card:active a {
  color: #ec6e24;
}

.code {
  background: #e1e1e1;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: 0.5rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #ec6e24;
  border-color: #ec6e24;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  background: white;
  box-shadow: 3px 8px 10px -4px rgba(56, 56, 56, 0.25);
  z-index: 9;
  position: relative;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
  width: 100vw;
}

.header_content {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header_content {
    width: 100%;
  }
}

.header_left {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header_left {
    width: 200px;
  }
}

.header_right {
  display: flex;
  align-items: center;
  width: 250px;
  margin-right: 30px;
  font-size: 13px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header_right {
    margin-right: 0px;
    width: 270px;
  }
}

.header_right p {
  margin: 3px;
  font-weight: 400;
}

.header_add {
  background: #ff6e13;
  color: white;
  border-radius: 3px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header_add {
    display: none;
  }
}

.header_search {
  display: flex;
  align-items: center;
  width: 110px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header_search {
    display: none;
  }
}

.header_msg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_msg p {
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .header_msg p {
    padding: 0;
  }
}

.header_msg_active {
  width: 100%;
  height: 3px;
  background: #ff6e13;
}

.header_msg:hover {
  cursor: pointer;
}

.header_favoris {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_user {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.conversations {
  margin: auto;
  display: flex;
  height: 93vh;
  width: 100%;
}

.conversations h3 {
  font-weight: 500;
  font-size: 16px;
}

.conversation {
  border: 1px lightgrey solid;
  padding: 20px;
  background: #ececec;
  margin: 0;
}

.conversation_active {
  border: 1px #b9b9b9 solid;
  padding: 20px;
  background: #b9b9b9;

  margin: 0;
}

.conversation:hover {
  background: lightgrey;
  cursor: pointer;
}

.conversation_info {
  border-bottom: 1px lightgrey solid;
  padding: 10px 20px;
}

.conversation_full {
  border: 1px lightgrey solid;
  width: 70%;
  height: 100%;
  position: relative;
}

.conversation_messages {
  height: 70%;
}

.conversation_box {
  border-top: 1px lightgrey solid;
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  bottom: 0px;
}

.create_conversation {
  border: 1px lightgrey solid;
  padding: 20px;
  background: #fafafa;
  color: grey;
}

@media screen and (max-width: 600px) {
  .create_conversation {
    padding: 10px;
    text-align: center;
  }
}

.create_conversation:hover {
  cursor: pointer;
  background: #eeeeee;
}

.date {
  color: grey;
  margin: 3px 0;
  font-size: 12px;
}

.message_box {
  width: 70%;
}

.message_value {
  border: 1px lightgrey solid;
  padding: 30px;
  width: 90%;
  margin: 10px;
}
.message_send {
  background: #ececec;
  color: grey;
  font-size: 14px;
  padding: 10px 40px;
}

@media screen and (max-width: 600px) {
  .message_send {
    padding: 10px 10px;
  }
}

.sidebar {
  width: 30%;
}

.sent {
  background: #2097f3;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  width: 78%;
  margin: 20px;
  margin-left: 20%;
}

.received {
  background: #f0f0f0;
  padding: 15px 30px;
  border-radius: 5px;
  width: 78%;
  margin: 20px;
  margin-right: 20%;
}

.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popup_backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.4;
  z-index: 999;
}

.popup {
  position: absolute;
  z-index: 9999;
  background: white;
  border: 1px solid grey;
  width: 60vw;
  top: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
}

.popup p {
  margin: 5px;
}

.popup p:hover {
  cursor: pointer;
  font-weight: bold;
}

.validate {
  border: 1px solid grey;
  width: 100px;
  margin: 10px auto 0;
  padding: 10px;
}

.validate:hover {
  cursor: pointer;
}

.user_chosen {
  font-weight: bold;
}
